@import url("https://use.typekit.net/vpd3vih.css");


.container, .row {
 height: 100vh;
}

.carousel, .item, .active, .carousel-item-next {
height: 100vh;
}
.carousel-inner {
 height:100%;
 backface-visibility: visible;
}


.nameHeader {
 font-family: futura-pt-bold, sans-serif;
 font-weight: 700;
 font-style: italic;
 font-size: 8vw;

}

.descriptionHeader {
 font-family: futura-pt-condensed, sans-serif;
font-weight: 400;
 font-size: 4vw;


}

.slideshow {
 font-family: futura-pt-bold, sans-serif;


}
.first_slide {

 background-image: url(../../static/images/music_background.png);
background-position: center;
 background-size: cover;




}
.second_slide {

 background-image: url(../../static/images/design_develop_background.png);
 background-position: center top;
 background-size: contain;
 background-repeat: no-repeat;
 background-color: black;

}

.carousel_text_black{

color: black;
}

.third_slide {

 background-image: url("../../static/images/merlefest_collage.jpg");
 background-position: center;
 background-size: cover;


}

.carouselcaption {

 background-color: rgba(0, 0, 0, 0.5);

}

.faIcon {

 font-size: 5em;
 padding: 10px;
 color: white;


}
.atcicon{

 height: 4em;
 width: 4em;
 vertical-align: -0.125em;
 padding: 10px;



}